@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/FontAwesome/fontawesome.woff2') format('woff2'),
       url('../fonts/FontAwesome/fontawesome.woff') format('woff'),
       url('../fonts/FontAwesome/fontawesome.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/robotobold.woff2') format('woff2'),
       url('../fonts/Roboto/robotobold.woff') format('woff'),
       url('../fonts/Roboto/robotobold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/robotobolditalic.woff2') format('woff2'),
       url('../fonts/Roboto/robotobolditalic.woff') format('woff'),
       url('../fonts/Roboto/robotobolditalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/robotomedium.woff2') format('woff2'),
  url('../fonts/Roboto/robotomedium.woff') format('woff'),
  url('../fonts/Roboto/robotomedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/robotomediumitalic.woff2') format('woff2'),
  url('../fonts/Roboto/robotomediumitalic.woff') format('woff'),
  url('../fonts/Roboto/robotomediumitalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/roboto.woff2') format('woff2'),
  url('../fonts/Roboto/roboto.woff') format('woff'),
  url('../fonts/Roboto/roboto.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/robotoitalic.woff2') format('woff2'),
       url('../fonts/Roboto/robotoitalic.woff') format('woff'),
       url('../fonts/Roboto/robotoitalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/robotolight.woff2') format('woff2'),
       url('../fonts/Roboto/robotolight.woff') format('woff'),
       url('../fonts/Roboto/robotolight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/robotolightitalic.woff2') format('woff2'),
       url('../fonts/Roboto/robotolightitalic.woff') format('woff'),
       url('../fonts/Roboto/robotolightitalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Sansus Webissimo';
  src: url('../fonts/Sansus/sansuswebissimo.ttf') format('woff2'),
       url('../fonts/Sansus/sansuswebissimo.woff') format('woff'),
       url('../fonts/Sansus/sansuswebissimo.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
