html, body {
  height: 100%;
}

html {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', Arial, sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

button {
  margin: 0;
  padding: 0;
  background: none;
  border: none;

  &:focus {
    outline: none;
  }
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}


fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

input:focus,
textarea:focus {
  outline: none;
}

input:invalid,
textarea:invalid {
  outline: none;
  box-shadow: none;
}

::placeholder {
  font-family: 'Roboto', 'Arial', sans-serif;
  @include fonts(16px, 400, 20px, #5d5a55);
}

:focus::placeholder {
  color: transparent;
}
:focus::-webkit-input-placeholder {
  color: transparent;
}

:focus::-moz-placeholder {
  color: transparent;
}

:focus:-ms-input-placeholder {
  color: transparent;
}
