$x-color-light-green: #608d53;
$x-color-green: #497f39;
$x-color-dark-green: #122620;
$x-color-light-grey: #f8f9f5;
$x-color-dark-grey: #373e42;

$palette-primary: $x-color-green;
$palette-secondary: $x-color-light-green;

$palette-background-welcome: rgba($x-color-dark-green, .6);
$palette-background-primary: $x-color-light-grey;


$palette-font-primary: $x-color-dark-grey;

$mobile-widths-only: (max-width: 699px);
$tablet-widths: (min-width: 700px);
$desktop-widths: (min-width: 1200px);
$big-desktop-widths: (min-width: 1800px);


@mixin clearfix() {
  &::after,
  &::before{
    content: '';
    display: table;
  }

  &::after {
    clear: both;
  }
}

@mixin fonts($size, $weight, $height, $color) {
  font-size: $size;
  font-weight: $weight;
  line-height: $height;
  color: $color;
}

@mixin doubleTriangle($height, $color) {
    position: absolute;
    left: 0;
    bottom: 0;
    height: $height;
    width: 100%;
    background: linear-gradient(to right top, $color 50%, transparent 50%) no-repeat 0 0,
                linear-gradient(to left top, $color 50%, transparent 50%) no-repeat 100% 0;
    background-size: 50% 100%;
    z-index: 10;
}

@mixin arrow($width, $widthBorder, $rotate, $color, $bottom) {
  position: absolute;
  left: 50%;
  bottom: $bottom;
  width: $width;
  height: $width;
  border: $widthBorder solid $color;
  border-top-width: 0;
  border-right-width: 0;
  transform: translateX(-50%) rotate($rotate);
  cursor: pointer;
  z-index: 10;
}

@keyframes showPref {
  to {
    top: 0;
  }

  from {
    top: -100%;
  }
}

@keyframes showNext {
  to {
    top: 0;
  }

  from {
    top: 100%;
  }
}

@mixin showPrev(){
  animation-name: showPref;
  animation-duration: .5s;
  animation-timing-function: linear;
}

@mixin showNext(){
  animation-name: showNext;
  animation-duration: .5s;
  animation-timing-function: linear;
}
