$palette-primary: #6c9c5a;
$palette-secondary: #4e8839;

$palette-background-welcome: rgba(#122620, .6);
$palette-background-primary: #f8f9f5;
$palette-background-about: #ebefe2;
$palette-background-about-secondary: #f4f5f0;

$palette-font-primary: #373e42;
$palette-font-secondary: #566358;

$mobile-widths-only: (max-width: 699px);
$tablet-widths: (min-width: 768px);
$desktop-widths: (min-width: 1200px);
$big-desktop-widths: (min-width: 1800px);


@mixin clearfix() {
  &::after,
  &::before{
    content: '';
    display: table;
  }

  &::after {
    clear: both;
  }
}

@mixin fonts($size, $weight, $height, $color) {
  font-size: $size;
  font-weight: $weight;
  line-height: $height;
  color: $color;
}

@mixin doubleTriangle($height, $color) {
    position: absolute;
    left: 0;
    bottom: 0;
    height: $height;
    width: 100%;
    background: linear-gradient(to right top, $color 50%, transparent 50%) no-repeat 0 0,
                linear-gradient(to left top, $color 50%, transparent 50%) no-repeat 100% 0;
    background-size: 50% 100%;
    z-index: 10;
}

@mixin arrow($width, $widthBorder, $rotate, $color, $bottom) {
  position: absolute;
  left: 50%;
  bottom: $bottom;
  width: $width;
  height: $width;
  border: $widthBorder solid $color;
  border-top-width: 0;
  border-right-width: 0;
  transform: translateX(-50%) rotate($rotate);
  cursor: pointer;
  z-index: 10;
}

@keyframes showPref {
  from {
    top: -100%;
  }

  to {
    top: 0;
  }
}

@keyframes showNext {
  from {
    top: 100%;
  }

  to {
    top: 0;
  }
}

@mixin showPrev(){
  animation-name: showPref;
  animation-duration: .5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@mixin showNext(){
  animation-name: showNext;
  animation-duration: .5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.shifted {
  padding-left: 284px;

  aside {
    transform: none;
    padding-left: 0;
  }
}

@keyframes showWithScale {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }

}

@keyframes showWithOpacity {
  to {
    opacity: 1;
  }
}

@mixin showWithScaleAndOpacity() {
  animation-name: showWithScale, showWithOpacity;
  animation-duration: .2s, .4s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@mixin showWithOpacity() {
  animation-name: showWithOpacity;
  animation-duration: .5s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}