head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="css/style.css")
    script(src='js/plugins/picturefill.min.js')
    script(src='js/plugins/svgxuse.min.js' defer)