include mixins.pug

doctype html
html
    include head.pug
        title Личный сайт
    body
        .index__wrapper
            input(type='checkbox' name='switcher-index' id='switcher-index').index__switcher
            block header

            block content

            footer.page-footer.page-footer--index
                +authorName('index')