-
    var links = [
        {
            href: 'works.html',
            name: 'works',
            content: 'Мои работы'
        },
        {
            href: 'about.html',
            name: 'about',
            content: 'Обо мне'
        },
        {
            href: 'blog.html',
            name: 'blog',
            content: 'Блог'
        },
        {
            href: 'index.html',
            name: 'authorization',
            content: 'Авторизация',
            notSocial: true
        }
    ]

    var social = [
        {
            href: 'vk.com',
            name: 'vk',
            content: 'vkontakte',
            class: 'social-button social-button--',
            width: 32,
            height: 18
        },
        {
            href: 'github.com',
            name: 'git',
            content: 'github',
            class: 'social-button social-button--',
            width: 26,
            height: 22
        },
        {
            href: 'linkedin.com',
            name: 'in',
            content: 'linkedin',
            class: 'social-button social-button--',
            width: 25,
            height: 22
        }
    ]

    var checbox = {
            name: 'login',
            id: 'human',
            text: 'Я человек',
            class: 'authorization__label'
    }

    var radio = [
        {
            name: 'answer',
            id: 'radio-yes',
            value: 'yes',
            text: 'Да',
            class: 'authorization__label'
        },
        {
            name: 'answer',
            id: 'radio-no',
            value: 'no',
            text: 'Не уверен',
            class: 'authorization__label'
        }
    ]

    var publication = [
        {
            title: 'Самое важное в SASS',
            date: '22 ноября 2016',
            content: '<p>Таким образом начало повседневной работы по формированию позиции ' +
                     'позволяет выполнять важные задания по разработке направлений ' +
                     'прогрессивного развития. Разнообразный и богатый опыт новая модель ' +
                     'организационной деятельности играет важную роль в формировании новых ' +
                     'предложений. Товарищи! новая модель организационной деятельности играет ' +
                     'важную роль в формировании систем массового участия.</p> ' +
                     '<p>Не следует, однако забывать, что укрепление и развитие структуры ' +
                     'обеспечивает широкому кругу (специалистов) участие в формировании ' +
                     'систем массового участия. Идейные соображения высшего порядка, а ' +
                     'также рамки и место обучения кадров обеспечивает широкому кругу ' +
                     '(специалистов) участие в формировании позиций, занимаемых участниками в ' +
                     'отношении поставленных задач. Товарищи! постоянный количественный рост и ' +
                     'сфера нашей активности способствует подготовки и реализации модели развития. ' +
                     'С другой стороны рамки и место обучения кадров влечет за собой процесс ' +
                     'внедрения и модернизации системы обучения кадров, соответствует насущным ' +
                     'потребностям.</p>' +
                     '<img src="image/sass-pub.jpg" alt="blach-blach">'
        },
        {
            title: 'Приёмы в вёрстке, без которых не обходитсяни один сайт',
            date: '13 ноября 2016',
            content: '<p>Таким образом начало повседневной работы по формированию позиции позволяет ' +
                     'выполнять важные задания по разработке направлений прогрессивного развития. ' +
                     'Разнообразный и богатый опыт новая модель организационной деятельности играет ' +
                     'важную роль в формировании новых предложений. Товарищи! новая модель ' +
                     'организационной деятельности играет важную роль в формировании систем массового ' +
                     'участия.</p>' +
                     '<p>Не следует, однако забывать, что укрепление и развитие структуры обеспечивает ' +
                     'широкому кругу (специалистов) участие в формировании систем массового участия. ' +
                     'Идейные соображения высшего порядка, а также рамки и место обучения кадров ' +
                     'обеспечивает широкому кругу (специалистов) участие в формировании позиций, ' +
                     'занимаемых участниками в отношении поставленных задач. Товарищи! постоянный ' +
                     'количественный рост и сфера нашей активности способствует подготовки и реализации ' +
                     'модели развития. С другой стороны рамки и место обучения кадров влечет за собой ' +
                     'процесс внедрения и модернизации системы обучения кадров, соответствует насущным ' +
                     'потребностям.</p>'
        },
        {
            title: 'Самый необходимый набор Gulp плагинов',
            date: '13 ноября 2016',
            content: '<p>Таким образом начало повседневной работы по формированию позиции позволяет ' +
                     'выполнять важные задания по разработке направлений прогрессивного развития. ' +
                     'Разнообразный и богатый опыт новая модель организационной деятельности играет ' +
                     'важную роль в формировании новых предложений. Товарищи! новая модель ' +
                     'организационной деятельности играет важную роль в формировании систем массового ' +
                     'участия.</p>' +
                     '<p>Не следует, однако забывать, что укрепление и развитие структуры обеспечивает ' +
                     'широкому кругу (специалистов) участие в формировании систем массового участия. ' +
                     'Идейные соображения высшего порядка, а также рамки и место обучения кадров ' +
                     'обеспечивает широкому кругу (специалистов) участие в формировании позиций, ' +
                     'занимаемых участниками в отношении поставленных задач. Товарищи! постоянный ' +
                     'количественный рост и сфера нашей активности способствует подготовки и реализации ' +
                     'модели развития. С другой стороны рамки и место обучения кадров влечет за собой ' +
                     'процесс внедрения и модернизации системы обучения кадров, соответствует насущным ' +
                     'потребностям.</p>'
        },
        {
            title: 'Почему я выбрал Jade',
            date: '13 ноября 2016',
            content: '<p>Таким образом начало повседневной работы по формированию позиции позволяет ' +
                     'выполнять важные задания по разработке направлений прогрессивного развития. ' +
                     'Разнообразный и богатый опыт новая модель организационной деятельности играет ' +
                     'важную роль в формировании новых предложений. Товарищи! новая модель ' +
                     'организационной деятельности играет важную роль в формировании систем массового ' +
                     'участия.</p>' +
                     '<p>Не следует, однако забывать, что укрепление и развитие структуры обеспечивает ' +
                     'широкому кругу (специалистов) участие в формировании систем массового участия. ' +
                     'Идейные соображения высшего порядка, а также рамки и место обучения кадров ' +
                     'обеспечивает широкому кругу (специалистов) участие в формировании позиций, ' +
                     'занимаемых участниками в отношении поставленных задач. Товарищи! постоянный ' +
                     'количественный рост и сфера нашей активности способствует подготовки и реализации ' +
                     'модели развития. С другой стороны рамки и место обучения кадров влечет за собой ' +
                     'процесс внедрения и модернизации системы обучения кадров, соответствует насущным ' +
                     'потребностям.</p>'
        }
    ]

    var say = [
        {
            name: 'Ковальчук Дмитрий',
            whoIs: '— основатель Loftschool',
            avatar: 'image/kovalchuk.jpg',
            say: 'Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! ' +
                 '2 месяца только самых тяжелых испытаний и бессонных ночей!'
        },
        {
            name: 'Зар Захаров',
            whoIs: '— преподаватель',
            avatar: 'image/zaharov.jpg',
            say: 'Этот код выдержет любые испытания. Только пожалуйста, не загружается ' +
                 'сайт на слишком старых браузерах!'
        }
    ]

    var works = {
        1:  {
                title: 'Сайт школы онлайн Образования',
                technologies: ['html' , 'css', 'javascript'],
                link: '#',
                image: {
                    src: 'image/work-1.png',
                    width: 479,
                    height: 311
                },
                checked: true
            },
        2:  {
                title: 'Сайт itloft ',
                technologies: ['html' , 'css', 'javascript'],
                link: '#',
                image: {
                    src: 'image/work-2.png',
                    width: 300,
                    height: 226
                },
                checked: false
            },
        3:  {
                title: 'Портал видеоуроков',
                technologies: ['html' , 'css', 'javascript'],
                link: '#',
                image: {
                    src: 'image/work-3.png',
                    width: 300,
                    height: 225
                    },
                checked: false
            },
        4:  {
                title: 'Сайт о йоге',
                technologies: ['html' , 'css', 'javascript'],
                link: '#',
                image: {
                    src: 'image/work-2.png',
                    width: 300,
                    height: 226
                },
                checked: false
            }
    }
