section.about-me
    .about-me__wrapper
        h1.title--big Обо мне
        picture.about-me__avatar
            img(src='image/avatar-1200.jpg' alt='Это я!')
        article.about-me__description
            h3.title--small Кто я
            p.about-me__definition.
                Я веб разработчик из Новосибирска. Мне 27 лет.
                Я занимаюсь разработкой современных сайтов и приложений.
                Мне нравится делать интересные и современные проекты.
            p.about-me__definition.
                Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.
                Чуть позже я освежу в нём свой контент.
                А пока посмотрите,как тут всё классно и красиво!