include ../template/mixins.pug

mixin authorization(mod)
    - mod = mod || ''
    include ../template/variables.pug
    div(class='authorization ' + mod)
        h1.title.title--small.title--login Авторизуйтесь
        form(method='POST' action='#').authorization__form
            .authorization__enter
                input(type='text' name='login' placeholder='Логин' id='name').authorization__login
                label(for='name').authorization__label.authorization__label--enter
                    +icon('login', 14, 16)
            .authorization__enter.authorization__enter--last
                input(type='password' name='password' placeholder='Пароль' id='password').authorization__password
                label(for='password').authorization__label.authorization__label--enter
                    +icon('password', 17, 16)
            fieldset.authorization__checkout
                +checkRadioButton(checkbox)
            fieldset.authorization__checkout.authorization__checkout--last
                legend.authorization__legend Вы точно не робот?
                each item in radio
                    +checkRadioButton(item)
            .btn
                label(for='switcher-index').btn__item.btn__item--index На главную
                button(type='submit').btn__item.btn__item--enter Войти