include ../template/mixins.pug

mixin authorization(flag)
    - flag = flag || false
    include ../template/variables.pug
    .authorization
        h1.authorization__title Авторизуйтесь
        form(method='POST' action='#').authorization__form
            fieldset.authorization__enter
                input(type='text' name='login' placeholder='Логин').authorization__login
                input(type='password' name='password' placeholder='Пароль').authorization__password
            fieldset.authorization__checkout
                +checkRadioButton(checbox)
            fieldset.authorization__checkout
                legend.authorization__legend Вы точно не робот?
                each item in radio
                    +checkRadioButton(item)
            .authorization__buttons
                if flag
                    a(href='index.html').button На главную
                else
                    button(type='button').button На главную
                button(type='submit').button Войти