include ../template/mixins.pug
include info.pug
include social-buttons.pug

mixin header(mod, flag)
    - mod = mod || ''
    header(class=mod)#header.page-header
        a(href='#footer').page-header__arrow
        .page-header__menu
            +social
            include burger.pug
        +info('', flag)
