include ../template/variables.pug

.overlay
    .overlay__links
        each link in links
            = '\n'
            a(href=link.href class='overlay__link overlay__link--' + link.name)= link.content