include ../template/variables.pug

.publication
    aside.publication__navigation
        ul.publication__navigation-items
            each item in publication
                li.publication__navigation-item= item.title
    section.publication__items
        .publication__item
            each item in publication
                h2.publication__title= item.title
                p.publication__date= item.date
                .publication__content!= item.content