.publication
    aside.publication__navigation
        = '\n'
        span.publication__navigation-button
        ul.publication__navigation-items
    section.publication__items


    template#template-navigation
        li.publication__navigation-item
            a(href='#')

    template#template-publication
        .publication__item
            h2.publication__title
            time.publication__date
            .publication__content