section.slider
    .slider__descriptions
        div(class='slider__description')
            h4.title.title--small.title--slider
            ul.slider__technologies
            = '\n'
            a(href='').slider__btn Посмотреть сайт
    .slider__images
        .slider__image
    .slider__controls
        .slider__control.slider__control--prev
        .slider__control.slider__control--next