include ../template/mixins.pug

mixin social(mod)
    include ../template/variables.pug
    if mod
        div(class='social-buttons social-buttons--' + mod)
            each item in social
                +button(item)
    else
        .social-buttons
            each item in social
                +button(item)