.welcome
    .welcome__image
        img(src='/image/avatar.jpg')
    .welcome__info
        p.welcome__name Владимир Астахов
        p.welcome__discription Личный сайт веб разработчика
    .welcome__social
        include social-buttons.pug
    .welcome__buttons
        = '\n'
        a(href='#').welcome__button.welcome__button--works Мои работы
        = '\n'
        a(href='#').welcome__button.welcome__button--about Обо мне
        = '\n'
        a(href='#').welcome__button.welcome__button--blog Блог