extends template/layout.pug
include blocks/header.pug
include blocks/footer.pug

block title
    title Обо мне
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBvAj1dNQzbKLdKsNv2J-44xEHW5bJKLSc')

block header
    +header('page-header--about')

block content
    main.page-main
        section.resume
            include blocks/about-me.pug
            include blocks/usefulness.pug
        section.map
        include blocks/contacts.pug

block footer
    +footer(true)

block script
    script(src='js/about.js')