extends template/layout.pug
include blocks/header.pug
include blocks/footer.pug

block title
    title Обо мне

block header
    +header('page-header--about')

block content
    main.page-main
        section.resume
            include blocks/about-me.pug
            include blocks/usefulness.pug
        section.map
        include blocks/contacts.pug

block footer
    +footer(true)