extends template/layout.pug
include blocks/header.pug
include blocks/footer.pug

block title
    title Мой блог
    script(src='js/blog.js' defer)

block header
    +header('page-header--blog', true)

block content
    main.page-main.page-main--blog
        include blocks/publication.pug

block footer
    +footer(true)