extends template/layout.pug
include blocks/header.pug

block title
    title Мой блог

block header
    +header('', false)

block content
    include blocks/publication.pug

block footer
    include blocks/footer.pug