extends template/layout-index.pug
include blocks/authorization.pug

block header
    header.index__header
        = '\n'
        a(href='login.html').index__authorization Авторизоваться

block content
    main.page-main
        +authorization
        include blocks/welcome.pug
