extends template/layout-index.pug
include blocks/authorization.pug

block header
    header.index__header
        = '\n'
        label(for='switcher-index').index__authorization Авторизоваться

block content
    main.page-main
        .flipper
            .flipper__container
                +authorization
                include blocks/welcome.pug
