include blocks/authorization.pug
include template/mixins.pug

doctype html
html
    include template/head.pug
        title Личный сайт
    body
        .index__wrapper
            input(type='checkbox' name='switcher-index' id='switcher-index').index__switcher
            header.index__header
                = '\n'
                label(for='switcher-index').index__authorization Авторизоваться

            main.page-main
                .flipper
                    +authorization
                    include blocks/welcome.pug

            footer.page-footer.page-footer--index
                +authorName('index')

        script(src='js/index.js')