extends template/layout.pug
include blocks/header.pug
include blocks/footer.pug

block title
    title Мои работы

block header
    +header

block content
    main.page-main
        h1.title.title--big.title--works Мои работы
        include blocks/slider.pug
        include blocks/what-say.pug

block footer
    +footer