.authorization {
  padding-top: 30px;
  text-align: center;
  width: 300px;
  background-color: $palette-background-welcome;
  border-radius: 5px;

  backface-visibility: hidden;
  transition: 0.6s;
  transform-style: preserve-3d;
  position: absolute;
  top: 0;
  left: 0;

  transform: rotateY(-180deg);


  &--login {
    display: block;
    margin-top: 120px;
  }

  &__enter {
    margin: 0 10px 20px 20px;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;

    svg {
      width: 15px;
      height: 14px;
      margin: 16px 8px 0 11px;
    }

    &--last {
      margin-bottom: 17px;

      svg {
        width: 17px;
        height: 16px;
      }
    }
  }

  &__login,
  &__password {
    border: 1px solid #fff;
    border-radius: 0 25px 25px 0;
    flex-basis: auto;
    flex-grow: 1;
    height: 45px;
    padding: 10px 8px 15px 18px;

    &:focus {
      border-color: $palette-secondary;

      & + label {
        fill: $palette-secondary;
      }
    }

    &--invalid {
      border-color: #e44845;

      & + label {
        fill: #e44845;
      }
    }
  }

  &__label {
    @include fonts(16px, 400, 24px, #fff);
    position: relative;
    cursor: pointer;

    &--enter {
      background-color: #f0efe9;
      border-radius: 25px 0 0 25px;
      fill: #c4cbcd;
      flex-basis: 45px;
    }

    &--check {
      padding-left: 34px;

      &::before{
        content: '';
        position: absolute;
        width: 20px;
        height: 20px;
        border: 1px solid rgba(#fff, .8);
        background-color: #fff;
        border-radius: 2px;
        top: -1px;
        left: 3px;
      }

      &::after {
        content: '';
        position: absolute;
        border: solid #fff;
        border-width: 0 0 3px 3px;
        width: 10px;
        height: 7px;
        transform: rotate(-45deg);
        top: 4px;
        left: 8px;
      }
    }

    &--radio {
      margin-right: 17px;
      padding-left: 49px;

      &::after {
        content: '';
        position: absolute;
        border: 6px solid #fff;
        border-radius: 50%;
        background-color: #fff;
        width: 20px;
        height: 20px;
        top: 1px;
        left: 20px;
      }
    }

  }

  &__checkout {
    margin-bottom: 12px;
    margin-left: 43px;

    &--last {
      margin-bottom: 38px;
    }

    input {
      display: none;

      &:checked + label::before {
        background-color: $palette-primary;
        border-color: $palette-primary;
      }

      &:checked + label::after {
        background-color: $palette-primary;
      }
    }
  }

  &__legend {
    @include fonts(16px, 700, 24px, #fff);
    margin-bottom: 5px;
    width: 100%;
    text-align: center;
  }

  @media only screen and #{$tablet-widths} {
    width: 348px;
    padding-top: 32px;

    &__enter {
      margin: 0 21px 20px;

      &--last {
        margin-bottom: 17px;
      }
    }

    &__label {
      &--check {
        padding-left: 30px;

        &::before{
          left: 1px;
        }

        &::after {
          top: 5px;
          left: 6px;
        }
      }

      &--radio {
        margin-right: 18px;
        padding-left: 47px;

        &::after {
          top: 0;
          left: 17px;
        }
      }
    }

    &__checkout {
      margin-bottom: 13px;
      margin-left: 0;

      &--last {
        margin-bottom: 38px;
      }
    }

    &__legend {
      text-indent: -3px;
    }
  }

  @media only screen and #{$desktop-widths} {
    width: 380px;

    &__enter {

      svg {
        margin: 16px 1px 0 0;
      }

      &--last {
        margin-bottom: 19px;
      }
    }

    &__login,
    &__password {
      padding-left: 16px;
    }

    &__label {
      &--enter {

      }

      &--radio {
        &::after {
          left: 18px;
          top: 1px;
        }
      }

      &--checkout {
        margin-bottom: 11px;
      }
    }

    &__legend {
      text-indent: -1px;
    }
  }
}