.burger {
  width: 26px;
  height: 30px;
  cursor: pointer;
  display: block;
  margin-right: 1px;

  &__component {
    font-size: 0;
    margin-top: 10px;
    display: block;
    position: relative;
    height: 3px;
    border-radius: 10px;
    background-color: #fff;
    transition: background .1s linear;

    &::after,
    &::before {
      content: '';
      position: absolute;
      left: 0;
      width: 26px;
      height: 3px;
      border-radius: 10px;
      background-color: #fff;
      transition: transform .4s ease;
      transform-origin: 100% 0 0;
    }

    &::after {
      top: 10px;
    }

    &::before {
      top: -10px;
    }
  }

  @media only screen and #{$tablet-widths} {
    width: 40px;
    height: 35px;
    margin-right: -1px;

    &__component {
      margin-top: 15px;
      height: 5px;

      &::after,
      &::before {
        width: 40px;
        height: 5px;
      }

      &::after {
        top: 15px;
      }

      &::before {
        top: -15px;
      }
    }
  }

  @media only screen and #{$desktop-widths} {
    margin-top: 3px;
  }

  @media only screen and #{$big-desktop-widths} {
    margin-top: -2px;
  }
}