.contacts {
  position: absolute;
  bottom: 433px;
  left: 50%;
  transform: translateX(-50%);
  width: 380px;
  height: 314px;
  background-color: rgba(#f4f5f0, .85);
  border-radius: 5px;

  &__item {
    @include fonts(16px, 500, 24px, rgba(#455a64, .8));
    margin: 0 0 15px 35px;
    padding-left: 5px;
    display: block;
    fill: #6c9c5a;

    &:hover {
      fill: #4e8839;
      color: #455a64;
    }

    span {
      display: inline-block;
      vertical-align: top;
      padding-left: 10px;
    }

    &--email {
      margin-bottom: 16px;

      svg {
        margin-top: 5px;
      }
    }

    &--phone {
      padding-left: 9px;

      svg {
        margin-top: 2px;
      }

      span {
        padding-left: 13px;
      }
    }

    &--address {
      padding-left: 10px;

      span {
        padding-left: 14px;
      }
    }
  }
}