.contact-me {
  background: rgba(#fff, .15);
  border-radius: 5px;
  margin: 0 auto;
  padding-top: 33px;
  position: relative;
  z-index: 10;
  width: 299px;

  &::after {
    content: '';
    position: absolute;
    background: rgba(#dadbd6, .6);
    border-radius: 5px;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
  }

  &__input {
    margin: 0 20px 20px;
  }

  &__form {
    border-radius: 5px;
  }

  &__name,
  &__email,
  &__message {
    @include fonts(14px, 400, 24px, $palette-font-primary);
    border: none;
    border-radius: 25px;
    margin-bottom: 20px;
    padding: 9px 18px 7px;
    height: 40px;
    width: 100%;

    &--invalid {
      box-shadow: inset 0 0 0 1px #e44845;

      & + span {
        display: block;
      }
    }
  }

  &__message {
    height: 140px;
    resize: none;
    margin-bottom: 0;
    padding-top: 11px;
  }

  &__error {
    display: none;
    position: absolute;
    color: #fff;
    background-color: #e44845;
    border-radius: 9px;
    left: 45px;
    padding: 7px 0 10px;
    text-align: center;
    width: 173px;
    z-index: 10;

    &--name {
      top: 147px;
    }

    &--email {
      top: 208px;
    }

    &--message {
      bottom: 21px;
    }

    &::before {
      content: '';
      position: absolute;
      border-color: transparent transparent #e44845 #e44845;
      border-image: none;
      border-style: solid;
      border-width: 10px;
      bottom: 18px;
      left: 70px;
      transform: rotate(135deg);
    }
  }

  @media only screen and #{$tablet-widths} {
    padding-top: 30px;
    width: 348px;

    &__name,
    &__email,
    &__message {
      padding: 12px 18px 9px;
      height: 45px;
    }

    &__message {
      height: 140px;
    }

    &__error {
      &--name {
        top: 181px;
      }

      &--email {
        top: 247px;
      }
    }
  }

  @media only screen and #{$desktop-widths} {
    width: 380px;

    &__input {
      margin-bottom: 21px;
    }

    &__name,
    &__email,
    &__message {
      font-size: 16px;
      padding: 11px 18px 10px;
    }

    &__message {
      height: 140px;
    }
  }
}