.info {
  text-align: center;

  &__image {
    border-radius: 50%;
    width: 141px;
    overflow: hidden;
    margin: 0 auto 22px;

    img {
      display: block;
    }
  }

  &__name {
    @include fonts(35px, 500, 41px, #fff);
    width: 500px;
    margin: 0 auto 1px;
    text-indent: 12px;
  }

  &__description {
    @include fonts(16px, 400, 24px, #fff);
    opacity: .8;
    width: 450px;
    margin: 0 auto;
  }

  &--index {
    margin-bottom: 32px;

    .info__image {
      margin-bottom: 13px;
    }

    .info__name {
      font-size: 28px;
      line-height: 34px;
      margin-bottom: 3px;
      text-indent: -3px;
      width: 100%;
    }

    .info__description {
      width: 100%;
      text-indent: 0;
    }
  }
}