.page-header {
  flex: 0 0 auto;
  background: #243833 url('../image/water.jpg') no-repeat center;
  background-size: 100% auto;
  padding: 15px 30px 217px;
  position: relative;

  &::before {
    content: '';
  }

  &::before {
    @include doubleTriangle(100px, $palette-background-primary);
  }

  &--about {
    &::before {
      background: linear-gradient(to right top, #ebefe2 50%, transparent 50%) no-repeat 0 0,
                  linear-gradient(to left top, #f4f5f0 50%, transparent 50%) no-repeat 100% 0;
      background-size: 50% 100%;
    }
  }

  &__arrow {
    @include arrow(18px, 5px, -45deg, #fff, 73px);
    opacity: .6;

    &:hover {
      opacity: 1;
    }
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    margin-bottom: 84px;
  }
}