.technologies {
  margin-bottom: 35px;

  &__title {
    @include fonts(28px, 500, 32px, #566358);
    margin: 0 0 14px;
  }

  &__items {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__item {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    position: relative;
    background-color: #dfdcd5;
    margin-right: 37px;
    overflow: hidden;

    &:last-child {
      margin-right: 0;
    }

    &::after {
      content: '';
      position: absolute;
      border-radius: 50%;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background-color: #f4f5f0;
      width: 63%;
      height: 63%;
      z-index: 20;
    }
  }

  &__name {
    @include fonts(13px, 500, 15px, #4e8839);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 30;
  }

  &__semicircle {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #77a266;
    border-radius: 50%;
    z-index: 10;
    clip: rect(0, 110px, 110px, 55px);

    &--less {
      background-color: #dfdcd5;
      clip: rect(0, 55px, 110px, 0);
    }

    &--html {
      transform: rotate(150deg);
    }

    &--css {
      transform: rotate(130deg);
    }

    &--script {
      transform: rotate(130deg);
    }

    &--php {
      transform: rotate(-32deg);
    }

    &--sql {
      transform: rotate(12deg);
    }

    &--node {
      transform: rotate(-43deg);
    }

    &--mongo {
      transform: rotate(46deg);
    }

    &--git {
      transform: rotate(125deg);
    }

    &--gulp {
      transform: rotate(76deg);
    }

    &--bower {
      transform: rotate(49deg);
    }
  }
}